 .u-section-1 {
  --color-var: #c10000;
}

.u-section-1 .u-sheet-1 {
  min-height: 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 129px;
}

.u-section-2 .u-text-1 {
  margin: 25px auto;
} .u-section-3 {
  --color-var: #e9f9fd80;
}

.u-section-3 .u-sheet-1 {
  min-height: 567px;
}

.u-section-3 .u-text-1 {
  margin: 8px 111px 0 32px;
}

.u-section-3 .u-image-1 {
  width: 226px;
  height: 230px;
  margin: -24px auto 0 243px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 53px 111px 41px 32px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 362px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 82px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -12px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -22px;
    margin-left: 199px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 38px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -20px;
    margin-right: 104px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 23px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-image-1 {
    width: 194px;
    height: 197px;
    margin-top: -28px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 12px;
    margin-right: 12px;
    margin-left: -12px;
  }
}