 .u-section-1 {
  --color-var: #c10000;
}

.u-section-1 .u-sheet-1 {
  min-height: 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 129px;
}

.u-section-2 .u-text-1 {
  margin: 25px auto;
} .u-section-3 {
  --color-var: #e9f9fd80;
}

.u-section-3 .u-sheet-1 {
  min-height: 1212px;
}

.u-section-3 .u-text-1 {
  margin: 8px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 8px 0 0 443px;
}

.u-section-3 .u-image-1 {
  width: 412px;
  height: 372px;
  margin: -287px auto 0 13px;
}

.u-section-3 .u-image-2 {
  width: 605px;
  height: 852px;
  margin: -106px 0 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -721px 587px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 8px 600px 0 13px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 18px 587px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 18px 605px 60px 13px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1220px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 438px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -373px;
  }

  .u-section-3 .u-image-2 {
    width: 500px;
    height: 705px;
    margin-top: 51px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -734px;
    margin-right: 500px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 9px;
    margin-right: 492px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 492px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 492px;
    margin-bottom: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1984px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 8px;
    margin-left: 378px;
  }

  .u-section-3 .u-image-1 {
    width: 365px;
    height: 431px;
    margin-top: -489px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 623px;
    height: 877px;
    margin-top: 591px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -1429px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2000px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 452px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 490px;
    height: 417px;
    margin-top: -691px;
  }

  .u-section-3 .u-image-2 {
    width: 500px;
    height: 705px;
    margin-top: 813px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -1244px;
    margin-right: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 92px;
  }

  .u-section-3 .u-text-6 {
    margin-bottom: 713px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2039px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 325px;
  }

  .u-section-3 .u-image-1 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 479px;
    margin-top: 1195px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -1272px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 7px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-bottom: 60px;
  }
}