 .u-section-1 {
  --color-var: #c10000;
}

.u-section-1 .u-sheet-1 {
  min-height: 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 261px;
}

.u-section-2 .u-text-1 {
  margin: 25px auto 0;
}

.u-section-2 .u-image-1 {
  width: 180px;
  height: 95px;
  margin: -109px 231px 39px auto;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -148px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -32px;
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 127px;
    height: 67px;
    margin-top: 15px;
    margin-bottom: 17px;
  }
} .u-section-3 {
  --color-var: #e9f9fd80;
}

.u-section-3 .u-sheet-1 {
  min-height: 1212px;
}

.u-section-3 .u-text-1 {
  margin: 8px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 8px 0 0 443px;
}

.u-section-3 .u-image-1 {
  width: 412px;
  height: 372px;
  margin: -287px auto 0 13px;
}

.u-section-3 .u-image-2 {
  width: 605px;
  height: 852px;
  margin: -106px 0 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -721px 587px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 9px 600px 0 13px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 18px 587px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 18px 605px 60px 13px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -373px;
  }

  .u-section-3 .u-image-2 {
    width: 429px;
    height: 604px;
    margin-top: 82px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -662px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 418px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 418px;
    margin-bottom: 44px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 287px;
  }

  .u-section-3 .u-image-1 {
    width: 269px;
    height: 340px;
    margin-top: -403px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 352px;
    height: 495px;
    margin-top: 113px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -550px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 344px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-right: 198px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 7px;
    margin-left: 213px;
  }

  .u-section-3 .u-image-1 {
    width: 203px;
    height: 338px;
    margin-top: -399px;
  }

  .u-section-3 .u-image-2 {
    width: 271px;
    height: 382px;
    margin-top: 137px;
    margin-right: -13px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -469px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 8px;
    margin-right: 258px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 18px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 18px;
    margin-bottom: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1947px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 358px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 325px;
    margin-top: -725px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 867px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -864px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 387px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 9px;
    margin-right: 0;
  }
}