 .u-section-1 {
  --color-var: #c10000;
}

.u-section-1 .u-sheet-1 {
  min-height: 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 129px;
}

.u-section-2 .u-text-1 {
  margin: 25px auto;
} .u-section-3 {
  --color-var: #e9f9fd80;
}

.u-section-3 .u-sheet-1 {
  min-height: 507px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-3 .u-text-2 {
  margin: 45px 60px 0 676px;
}

.u-section-3 .u-image-1 {
  width: 649px;
  height: 343px;
  margin: -258px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: -29px 60px 45px 676px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-right: 0;
    margin-left: 536px;
  }

  .u-section-3 .u-image-1 {
    width: 517px;
    height: 273px;
    margin-top: -259px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: 19px 536px 20px 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 404px;
  }

  .u-section-3 .u-image-1 {
    width: 389px;
    height: 205px;
    margin-top: -317px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 83px;
    margin-right: 316px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 342px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 136px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-3 .u-image-1 {
    height: 178px;
    margin-top: 17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-bottom: 21px;
  }
} .u-section-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(205, 228, 231, 0.5), rgba(205, 228, 231, 0.5));
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 537px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin: 45px 597px 0 0;
}

.u-section-4 .u-slider-1 {
  min-height: 375px;
  width: 589px;
  height: auto;
  margin: -144px 0 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-image-1 {
  height: 315px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-4 .u-image-2 {
  height: 315px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-4 .u-image-3 {
  height: 315px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-4 .u-image-4 {
  height: 315px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-4 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-4 .u-text-3 {
  margin: -62px 597px 60px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 584px;
  }

  .u-section-4 .u-slider-1 {
    margin-top: -194px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -29px;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 391px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-slider-1 {
    margin-top: -477px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 118px;
    margin-right: 463px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 408px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-slider-1 {
    margin-top: -516px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 152px;
    margin-right: 283px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 258px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 17px 0;
  }

  .u-section-4 .u-image-1 {
    height: 210px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 7px;
    margin-right: 83px;
  }
} .u-section-5 {
  --color-var: #e9f9fd80;
}

.u-section-5 .u-sheet-1 {
  min-height: 506px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-text-2 {
  margin: 45px 60px 0 537px;
}

.u-section-5 .u-image-1 {
  width: 492px;
  height: 343px;
  margin: -172px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: -29px 60px 60px 537px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 531px;
  }

  .u-section-5 .u-image-1 {
    height: 342px;
    margin-top: -201px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: -115px;
    margin-bottom: 30px;
    margin-left: 512px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 33px;
  }

  .u-section-5 .u-text-3 {
    margin: 13px 177px 31px 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 382px;
  }

  .u-section-5 .u-image-1 {
    width: 472px;
    height: 329px;
    margin-top: -451px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 141px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 277px;
  }

  .u-section-5 .u-image-1 {
    height: 237px;
    margin-top: -461px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 245px;
  }
} .u-section-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(205, 228, 231, 0.5), rgba(205, 228, 231, 0.5));
  background-size: cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 515px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin: 45px 597px 0 0;
}

.u-section-6 .u-image-1 {
  width: 492px;
  height: 343px;
  margin: -173px 48px 0 auto;
}

.u-section-6 .u-text-3 {
  margin: -29px 597px 55px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 529px;
  }

  .u-section-6 .u-image-1 {
    width: 443px;
    height: 307px;
    margin-top: -201px;
    margin-right: 41px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 542px;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 450px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -345px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin: 20px 0 28px 404px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 367px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 472px;
    height: 327px;
    margin-top: -475px;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin: 164px 224px 20px 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 276px;
  }

  .u-section-6 .u-image-1 {
    height: 236px;
    margin-top: -460px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 245px;
    margin-right: 24px;
    margin-bottom: 21px;
  }
} .u-section-7 {
  --color-var: #e9f9fd80;
}

.u-section-7 .u-sheet-1 {
  min-height: 478px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-7 .u-text-2 {
  margin: 45px 60px 0 649px;
}

.u-section-7 .u-image-1 {
  width: 622px;
  height: 314px;
  margin: -143px auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: -29px 60px 45px 649px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 509px;
  }

  .u-section-7 .u-image-1 {
    width: 491px;
    height: 270px;
    margin-top: -144px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-bottom: 29px;
    margin-left: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 518px;
    height: 285px;
    margin-top: 20px;
    margin-left: -11px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 29px;
    margin-right: 289px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 365px;
  }

  .u-section-7 .u-image-1 {
    width: 492px;
    height: 325px;
    margin-top: -448px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 131px;
    margin-right: 109px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 276px;
  }

  .u-section-7 .u-image-1 {
    height: 236px;
    margin-top: -384px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 168px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}