 .u-section-1 {
  --color-var: #c10000;
}

.u-section-1 .u-sheet-1 {
  min-height: 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 129px;
}

.u-section-2 .u-text-1 {
  margin: 25px auto;
} .u-section-3 {
  --color-var: #e9f9fd80;
}

.u-section-3 .u-sheet-1 {
  min-height: 286px;
}

.u-section-3 .u-text-1 {
  margin: 18px 0 0 32px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 56px -32px 39px 32px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}